# Dependencias
node_modules/

# Variables de entorno (credenciales, claves, etc.)
.env

# Archivos de build o cache (EverShop y Webpack)
dist/
.cache/

# Configuración del editor
.vscode/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db
